.main-game-title{
    height: 65px;
}

.score-table__container{
    width: 70px;
    height: 65px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 5px;
    box-shadow: var(--Box-shadows);
}

.select-game__container{
    background-size: 80%;
    gap: 70px;
}

.main-game__playerBtn{
    width: 170px;
    height: 170px;
}


.game-playing__container{
    grid-template: 1fr / 1fr 1fr 1fr;
}

.game-controls__container{
    grid-row: 1;
    grid-column: 2;
}

.game-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.btn-action{
    width: 200px;
    height: 200px;
}

.main-rules__container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main-rules__btn{
    margin: 0;
}

.rules-screen__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.425);
}

.rules-screen{
    width: 450px;
    height: 450px;
    display: grid;
    justify-items: center;
    align-items: center;
    background: white;
    border-radius: 10px;
}

.rules-screen h2{
    grid-row: 1;
    justify-self: left;
    padding-left: 40px;

}

.rules-screen button{
    grid-row: 1;
    justify-self: right;
    padding-right: 70px;
}

.rules-screen svg{
    grid-column: span 2;
    padding-bottom: 30px;
}