.main-game-title{
    height: 65px;
}

.score-table__container{
    width: 70px;
    height: 65px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 5px;
    box-shadow: var(--Box-shadows);
}

.select-game__container{
    background-size: 80%;
    gap: 70px;
}

.main-game__playerBtn{
    width: 170px;
    height: 170px;
}


.game-playing__container{
    grid-template: 1fr / 1fr 1fr 1fr;
}

.game-controls__container{
    grid-row: 1;
    grid-column: 2;
}

.game-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.btn-action{
    width: 200px;
    height: 200px;
}
