:root{
    --Scissors-Gradient:circle,  #ec9e0e, #eca922;
    --Paper-Gradient:circle,  #4865f4, #5671f5;
    --Rock-Gradient:circle,  #dc2e4e, #dd405d;
    --Lizard-Gradient:circle,  #834fe3, #8c5de5;
    --Cyan:90deg,  #40b9ce, #52bed1;
    --Dark-Text: #3b4363;
    --Score-Text: #2a46c0;
    --Header-Outline: #606e85;
    --Radial-Gradient: circle, #1f3756, #141539;
    --Box-shadows: 0px 2px 5px 0px #0d0f1683;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
}

button{
    font-size: 62.5%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
    outline: none;
    border: none;
    background: none;
}

body{
    width: 100%;
    min-height: 100vh;
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(var(--Radial-Gradient));
}

body::-webkit-scrollbar{
    width: 7px;
    background-color: var(--Header-Outline);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--Dark-Text);
    border-radius: 10px;
}

.main-score__container{
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    padding: 15px;
    margin: 35px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--Header-Outline);
    border-radius: 5px;
    z-index: 1;
}

.main-game-title{
    height: 60px;
}

.score-table__container{
    width: 65px;
    height: 60px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 5px;
    box-shadow: var(--Box-shadows);
}

.score-table__container h3{
    color: var(--Score-Text);
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.score-table__container p{
    color: var(--Dark-Text);
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}

.select-game__container{
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;

    background: url(/images/bg-triangle.svg);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.main-game__playerBtn{
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 0px -5px 1px 0px #0d0f164b;
    z-index: 0;
}

.hooverBtn button:hover{
    filter: brightness(85%);
    cursor: pointer;
}

.main-game__playerBtn button{
    display: block;
    height: calc(100% - 25%);
    width: calc(100% - 25%);
    border-radius: 50%;
    background: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    box-shadow: inset 0px 5px 1px 0px #0d0f162d;
}

.rock{
    grid-column: span 2;
    justify-self: center;
    background: radial-gradient(var(--Rock-Gradient));
}

.rock button{
    background-image: url(/images/icon-rock.svg);
}

.paper{
    background: radial-gradient(var(--Paper-Gradient));
}

.paper button{
    background-image: url(/images/icon-paper.svg);
}

.scissors{
    background: radial-gradient(var(--Scissors-Gradient));
}

.scissors button{
    background-image: url(/images/icon-scissors.svg);
}

.main-rules__container{
    margin: 20px auto;
}

.main-rules__btn{
    padding: 8px 30px;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    border: var(--Header-Outline) 3px solid;
    border-radius: 10px;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

.main-rules__btn:hover{
    background-color: white;
    color: var(--Dark-Text);
    border: 3px transparent solid;
}

.game-playing__container{
    display: none;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.game-controls__container{
    justify-self: center;
    grid-row: 2 / 3;
    grid-column: span 2;
    visibility: hidden;
}

.game-selection{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
}

.game-selection h3{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    z-index: 1;
}

.game-controls__container h2{
    font-size: 5rem;
}

.game-controls__container button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1.3rem;
    color: var(--Dark-Text);
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.game-controls__container button:hover{
    color: #dc2e4e;
}

.btn-action{
    width: 150px;
    height: 150px;
}

.rules-screen__container{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.rules-screen{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background: white;
}

.rules-screen__container h2{
    color: var(--Dark-Text);
    font-size: 4rem;
}

.rules-screen__container button{
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-close.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.fadein{
    animation: fadein 500ms;
}

.pcfadein{
    animation: fadein 1.5s;
}

.resultsfadein{
    animation: fadein 2.5s;
}


@keyframes fadein {
    100%{
        transform: scale(1);
    }
    30%{
        opacity: 0;
        transform: scale(0);
    }
    0%{
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fadeinMain {
    100%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    30%{
        opacity: 0;
    }
    0%{
        opacity: 0;
    }
}